
<!-- Bitcoin.de - Price Widget - 250x200px -->
<div id="bitcoin-de-widget" data-size="1" data-type="dark" data-bgcolor="#000000"></div>
<script src="https://bitcoinapi.de/price/widget.js"></script>

<br >
<img src="https://bitcoinapi.de/widget/current-btc-price" alt="Bitcoin.de-Preis" />