<div class="row">
  <div class="col-sm-6">
    <% data.each do |tid, tdata| %>
    <div class="card">
      <div class="card-header">Details for trade <%= tid %></div>
      <div class="card-body">
        <table class="table table-striped">
          <thead class="thead-dark">
          <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
          </tr>
          <tbody>
            <% tdata.each do |key,val| %>
            <tr>
              <td><%= key %></td>
              <td><%= val %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
      <% end %>
  </div>
</div>